# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
env/
ENV/
.env

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Django stuff
*.log
local_settings.py
db.sqlite3

# Flask stuff
instance/
.webassets-cache

# PyCharm / VSCode / IDE
.vscode/
.idea/

# System files
.DS_Store
*.db